{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link href="{% static 'the-datepicker.css' %}" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.js"></script>
    <script src="{% static 'state.js' %}"></script>
    <script src="{% static 'banks.js' %}"></script>
    <script src="{% static 'the-datepicker.js' %}"></script>
    <title>Data Collection - {% block title %}{% endblock %}</title>
    {% block style %}
    {% endblock  %}
</head>
<body class="bg-gray-100">
    {% block content %}{% endblock %}
    <script>
    const input = document.getElementById('example');
    const datepicker = new TheDatepicker.Datepicker(input);
    datepicker.options.setInputFormat('d-m-Y');
    datepicker.render();

    </script>
</body>
</html>