{% extends 'adminsite/base.html' %}
{% block title %}
OBC
{% endblock  %}
{% block content %}
            <main class="w-full flex-grow p-6">
                
                <div class="w-full mt-6">
                    <p class="text-xl pb-3 flex items-center">
                        <i class="fas fa-list mr-3"></i> Table Example
                    </p>
                    <div class="bg-white">
                        <table class="text-left w-full border-collapse"> <!--Border collapse doesn't work on this site yet but it's available in newer tailwind versions -->
                            <thead class="bg-gray-800 text-white">
                                <tr>
                                    <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Name</th>
                                    <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Class</th>
                                    <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Section</th>
                                    <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Roll</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for obc in obc_data %}
                                <tr class="hover:bg-grey-lighter">
                                    <td class="py-4 px-6 border-b border-grey-light">{{ obc.name }}</td>
                                    <td class="py-4 px-6 border-b border-grey-light">{{ obc.present_class }}</td>
                                    <td class="py-4 px-6 border-b border-grey-light">{{ obc.section }}</td>
                                    <td class="py-4 px-6 border-b border-grey-light">{{ obc.roll }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                
            </main>
    
        </div>
        
    </div>
    {% endblock %}
